* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
  }
  
  body {
    background: rgb(129, 126, 126);
  }
  
  html{
    scroll-behavior: smooth;
  }

  /*navbar*/

  .top{
    position: fixed;
  }

  nav ul{
    width: 100%;
    background: rgb(163, 56, 56);
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    box-shadow: -10px 0 10px;
  }

  nav li {
    height: 60px;
    font-size: 1.25em;
  }
  
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 650;
  }
  
  nav a:hover {
        color: #141c5f;
    }
  
  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px;
    background: rgba(163, 56, 56, 0.522);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sidebar li {
    width: 100%;
  }

  .sidebar a {
    width: 100%;
  }
  
  .menu-button {
    display: none;
  }

  /*about section*/
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #welcome-section {
    background: rgb(87, 109, 135);
    height: 100vh;
  }
  
  h1 {
    font-weight: 700;
    margin-top: 450px;
    color: #fff;
    font-size: 5rem;
    text-align: center;
  }

  .p-general {
    display: block;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    font-weight: 450;
    margin-top: 7px;
  }

  h3 {
    text-align: center;
    color: black;
  }

  /*work section*/

  a {
    text-decoration: none;
    color: white;
  }

  .section-header1 {
    margin: 0 auto 4rem auto;
    font-size: 3.5rem;
    padding: 6rem 2rem;
    text-align: center;
  }
  
  .projects-grid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr  1fr;
      grid-gap: 2rem;
      max-width: 1580px;
      width: 100%;
      margin: 0 auto;
  }
  
  .project-image {
    border-radius: 2%;
  }
  
  .project1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
  .project2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  
  .project3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  .project4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .project5 {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  /*Contact*/

#contact {
  background: rgb(87, 109, 135);
}

.section-header2 {
  margin: 0 auto 8rem auto;
  font-size: 3.5rem;
  padding: 3rem 2rem;
}

span {
  color: rgb(131, 22, 22);
}

.contact-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.contact-details {
    font-size: 2.4rem;
}

#contact-img {
  margin-top: -80px;
  border-radius: 20%;
  max-width: 680px;
}

  #p-contacts{
    display: inline;
    font-size: 1.5rem;
    font-weight: 650;
  }
  
  
  @media(max-width: 1631px) {
  
  /*header*/
  
  #navbar a {
    font-size: 20px;
    margin-left: 20px;
  }

  /*about section*/

  
  h1 {
    font-size: 3.5rem;
    margin-top: 250px;
  }


  /*work section*/

    .section-header1 {
      font-size: 2.7rem;
    }

      
    .h3-projects {
      font-size: 3.0rem;
    }

  .projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }


  /*Contact section*/

  .section-header2 {
    margin: 0 auto 5rem auto;
    font-size: 2.7rem;
    padding-top: 4rem ;
  }

  .contact-details {
    font-size: 1.4rem;
    padding-bottom: 20px;
    font-weight: 600;
}
  
  .contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact-img {
  border-radius: 10%;
  max-width: 40%;
  }
  
  }
  
  @media(max-width: 800px) {
  
  #navbar a {
    font-size: 20px;
    margin-left: 20px;
  }

  .hideOnMobile{
    display: none;
  }

  .menu-button {
    display: block;
  }

  .p-general {
    font-size: 1.7rem;
  }

  /*about section*/

  .section-header1 {
    font-size: 2.1rem;
  }

  h1 {
    font-size: 3rem;
  }

  
  img {
    max-width: 520px;
  }

  /*projects*/

  .project-image {
    width: 95%;
    padding-left: 5%;
  }

  #h3-projects {
    font-size: 1rem;
  }

  /*Contact section*/
  
  
  #contact-img {
  border-radius: 10%;
  }

  #contact {
    height: 100vh;
  }

  #contact-a {
    display: flex;
  }

  i {
    padding-right: 10px;
  }

   
  }
  

  @media(max-width: 400px) {
  
    .sidebar{
      width: 100%;
    }

    /*about section*/

    .section-header1 {
      font-size: 1.7rem;
    }

  h1 {
    font-size: 1.7rem;
  }

  .p-general {
    font-size: 1.5rem;
  }

  #h3-projects {
    font-size: 0.8rem;
  }
  
  /*contact*/

  #contact {
    height: 100vh;
  }

  i {
    display: flex;
  }

  #p-contacts{
    font-size: 1.2rem;
  }
    
     
    }